// General
img {
    border-radius: 4px;
}

// Author Infos
.author-info {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
    font-size: $small-text;
    flex-wrap: wrap;

    a {
        text-decoration: none;
    }
            
    img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-right: .2rem;
    }

    .reviewed-by, .last-mod-date {
        padding-left: .5rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            padding-right: .5rem;
            position: relative;
            top: -1px;
        }

        .shield, .calender {
            padding-right: .2rem;
            svg {
                display: block;
                position: relative;
                top: -1px;
            }
        }
    }
}

// Author Box
.author-box{
    
    display: flex;
    background: $author-box-fallback-background;
    background: $author-box-background;
    color: #fff;
    align-items: center;

    padding: 20px;
    gap: 20px;
    margin-top: 40px;

    @media (max-width: $author-box-breakpoint) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .author-box-avatar{
        flex: 0 0 60px;

        img {
            border-radius: 50%;
            display: block;
        }
    }

    .author-box_name{
        font-size: $author-name-text;
        font-weight: 600;
    }

    .author-box_bio{
        font-size: $author-info-text;
        font-weight: 600;
    }
}

// Main Navigation 
.main-navigation{

    border-bottom: 1px solid var(--border);

    @media (min-width: $mobile-menu-breakpoint){
        border-bottom: none;
    }
    
    #primary-menu{
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        @media (min-width: 1px) and (max-width: $mobile-menu-breakpoint){
            border-bottom: none;
        }
    }

    #primary-menu li a{
        text-align: center;
    }

    @media (min-width: $mobile-menu-breakpoint){
        #primary-menu li:hover a{
            font-weight: 700;
            -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
            box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
        }
        
    }
    
}

@media (min-width: $mobile-menu-breakpoint) {
    .navigation-branding, .main-nav{
        width: 100%;
        justify-content: center;

    }
    #menu-hauptmenu{
        justify-content: center;
    }
}

/* Styles for Archives */
body:not(.single, .page) #primary, .featured-posts{
    article.post .inside-article{
        @media (min-width: 1200px) {
            display: flex;
            gap: 40px;
        }
                                
        a{
            text-decoration: none;
        }

        .archive-single-featured-image{
            @media (min-width: 1200px) {
                width: 50%;
            }
                                    
            border-radius: 5px;
        }
        .archive-single-content{
            @media (min-width: 1200px) {
                width: 50%;
            }

            .archive-single-category{
                text-transform: uppercase;
                font-size: $small-text;
                letter-spacing: 0.82px;
                color: $category-name-color;
            }

            .entry-title{
                font-size: $archive-h2-text;
                font-weight: 600;
                margin-top: 10px;
            }

            .entry-summary{
                font-size: $archive-excerpt-text;
                margin: 25px 0px 10px 0px;
            }

            .read-more a{
                text-transform: uppercase;
                display: block;
                padding: 15px 0;
                border-top: 1px solid var(--border);
                font-size: $small-text;
                font-weight: 700;
            }
        }
                                
    }
}


body.single-post{
    .author-info{
        justify-content: center;
        margin: 36px 0px 0px 0px;
    }
}
/* END - Styles for Archives */

.inside-article .featured-image img{
    width: 100%;
}

/* Search bar */
.wp-block-search__inside-wrapper{
    border: none;
    input{
        border-radius: 3px 0 0 3px;
    }
    button{
        background: var(--accent-2);
        color: $search-bar-button-text-color;
        text-shadow: none;
        font-size: $button-text;
        margin-left: 0px;
        border-radius: 0 3px 3px 0;
        padding: 7px 10px 5px;
        font-weight: 600;
    }

}

.site-footer{
    .footer-widgets .inside-footer-widgets hr{
        max-width: 30px;
        margin: 0px;
    }
    .footer-widgets .widget{
        margin-bottom: 10px;
    }
}



/* Pagination */
.paging-navigation .nav-links>*{
    font-size: $button-text;
    background: var(--accent-2);
    color: inherit;
    padding: 10px 15px !important;
    border-bottom: 0;
    text-decoration: none;
    border-radius: 3px;
}

.paging-navigation .nav-links .current, .paging-navigation .nav-links a:hover{
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/* Style page title */
.page-header, .home-headline{
    padding-bottom: 0px !important;
    h1, h2{
        border-bottom: 1px solid var(--border);
    }
}
.home-headline>div:first-child{
    padding-bottom: 0px;
}

/* Post Single */
body.single-post{

    h1.entry-title{
        text-align: center;
    }

    h1.entry-title::after{
        display: block;
        height: 2px;
        background: var(--accent-2);
        width: 80px;
        content: ' ';
        margin: 9px auto 20px auto;
    }

    .featured-image{
        margin-bottom: 25px !important;
    }
}

/* Add ".." after excerpt */
.entry-summary p:after{
    content: '..';
}

/* 404 Page */
body.error404{
    .entry-title center:after{
        display: block;
        height: 2px;
        background: var(--accent-2);
        width: 80px;
        content: ' ';
        margin: 9px auto 20px auto;
    }

    .entry-content>article>.inside-article{
        padding-left: 0px;
        padding-right: 0px;
    }

    .entry-content>h2{
        text-align: center;
        margin-top: 80px;
    }
}

/* Author Page */
body.author{
    .author_bio_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid var(--border);
        border-top: 1px solid var(--border);

        .author-title span{
            font-weight: 400;
        }

        .author-avatar img{
            border-radius: 50%;
        }

        .author-info{
            text-align: center;
            font-size: $author-info-text;
        }
    }
}




// Category list style [categorys]-Shortcode
.category-list{
    text-transform: uppercase;
    font-size: $small-text;
    letter-spacing: 0.82px;
    color: $category-name-color;
    margin-bottom: 15px;
    display: block;
}


// Featured Posts on home page
.featured-posts{
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
    padding: 0px 40px 0px 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

    article{
        width: 33%;
        flex: 1;
    }

    .inside-article{
        flex-direction: column;
        padding: 0px !important;
        gap: 0px !important;
        box-shadow: 0 0 20px rgb(1 0 0 / 10%);
        border-radius: 4px;

        >div{
            width: 100% !important;
        }

        .archive-single-featured-image img{
            max-height: 150px;
            object-fit: cover;
            width: 100%;
        }

        .archive-single-content{
            padding: 10px 20px 0px 20px;
        }
    }
}

@media (max-width: $hide-featured-posts-breakpoint) {
    article:nth-child(2), article:nth-child(3){
        display: none;
    }
    .archive-single-featured-image img{
        max-height: 350px !important;
    }
}

@media (max-width: $outer-screen-padding-breakpoint) {

    .featured-posts{
        padding: 0px 30px 0px 30px;
    }
    
}