// General
img {
    border-radius: 4px;
}

// Author Infos
.author-info {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
    font-size: $small-text;
    flex-wrap: wrap;

    span{
        display: flex;
        align-items: center;
    }

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
            
    img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-right: .2rem;
    }

    .reviewed-by, .last-mod-date {
        padding-left: .5rem;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            padding-right: .5rem;
            position: relative;
            top: -1px;
        }

        .shield, .calender {
            padding-right: .2rem;
            svg {
                display: block;
                position: relative;
                top: -1px;
            }
        }
    }
}

// Author Box
.author-box{
    
    display: flex;
    background: $author-box-fallback-background;
    background: $author-box-background;
    color: #fff;
    align-items: center;
    border-radius: 4px;
    padding: 20px;
    gap: 20px;
    margin-top: 40px;

    @media (max-width: $author-box-breakpoint) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .author-box-avatar{
        flex: 0 0 60px;

        img {
            border-radius: 50%;
            display: block;
        }
    }

    .author-box_name{
        font-size: $author-name-text;
        font-weight: 600;
    }

    .author-box_bio{
        font-size: $author-info-text;
        font-weight: 600;
    }
}

// Main Navigation 
.main-navigation{

    border-bottom: 1px solid var(--border);

    @media (min-width: $mobile-menu-breakpoint){
        border-bottom: none;
    }
    
    #primary-menu{
        border-top: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
        @media (min-width: 1px) and (max-width: $mobile-menu-breakpoint){
            border-bottom: none;
        }
    }

    #primary-menu li a{
        text-align: center;
    }

    @media (min-width: $mobile-menu-breakpoint){
        #primary-menu li:hover a{
            font-weight: 700;
            -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
            -moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
            box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
        }
        
    }
    
}

/* Blog Single Content */
#primary{
    .entry-content{
        figure{margin-bottom: 20px;}
    }
}

@media (min-width: $mobile-menu-breakpoint) {
    .navigation-branding, .main-nav{
        width: 100%;
        justify-content: center;

    }
    #menu-hauptmenu{
        justify-content: center;
    }
}

/* Styles for Archives */
body:not(.single, .page) #primary, .featured-posts{
    article.post .inside-article{
        @media (min-width: 1200px) {
            display: flex;
            gap: 40px;
        }
                                
        a{
            text-decoration: none;
        }

        .archive-single-featured-image{
            @media (min-width: 1200px) {
                width: 50%;
            }
                                    
            border-radius: 5px;
        }
        .archive-single-content{
            @media (min-width: 1200px) {
                width: 50%;
            }

            .archive-single-category{
                text-transform: uppercase;
                font-size: $small-text;
                letter-spacing: 0.82px;
                color: $category-name-color;
            }

            .entry-title{
                font-size: $archive-h2-text;
                font-weight: 600;
                margin-top: 10px;
            }

            .entry-summary{
                font-size: $archive-excerpt-text;
                margin: 25px 0px 10px 0px;
            }

            .read-more a{
                text-transform: uppercase;
                display: block;
                padding: 15px 0;
                border-top: 1px solid var(--border);
                font-size: $small-text;
                font-weight: 700;
            }
        }
                                
    }
}


body.single-post{
    .author-info{
        justify-content: center;
        margin: 36px 0px 0px 0px;
    }
}
/* END - Styles for Archives */

.inside-article .featured-image img{
    width: 100%;
}

/* Search bar */
.wp-block-search__inside-wrapper{
    border: none;
    input{
        border-radius: 3px 0 0 3px;
    }
    button{
        //background: var(--accent-2);
        //color: $search-bar-button-text-color;
        text-shadow: none;
        margin-left: 0px;
        border-radius: 0 3px 3px 0;
        padding: 7px 10px 5px;
    }

}

/* WP Forms 7 contact form overwrites */
input[type="text"],
input[type="email"],
#your-message{
    background-color: --white;
    color: #000;
    width: 100%;
}

.wcf7{
	background-color:#EFEFEF; /* TODO Define variable color from customizer?*/
    padding:20px;
}


/* Footer styles */
.site-footer{
    .footer-widgets .inside-footer-widgets hr{
        max-width: 30px;
        margin: 0px;
    }
    .footer-widgets .widget{
        margin-bottom: 10px;
    }
    .footer_headline {
		color: var(--white);
        padding-bottom: 5px;
        font-size: 17px;
		font-weight: 700;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .footer-widgets a{
        text-decoration: none;
    }
}



/* Pagination */
.paging-navigation .nav-links>*{
    font-size: $pagination-text;
    background: $pagination-button-background;
    color: inherit;
    padding: 10px 15px !important;
    border-bottom: 0;
    text-decoration: none;
    border-radius: 3px;
}

.paging-navigation .nav-links .current, .paging-navigation .nav-links a:hover{
    -moz-opacity: 0.6;
    opacity: 0.6;
}

/* Style page title */
.page-header, .home-headline{
    padding-bottom: 0px !important;
    h1, h2{
        border-bottom: 1px solid var(--border);
    }
}
.home-headline>div:first-child{
    padding-bottom: 0px;
}

/* Post Single */
body.single-post{

    article {

       .inside-article {
            h1.entry-title{
                text-align: center;
            }

            h1.entry-title::after{
                display: block;
                height: 2px;
                background: var(--accent-2);
                width: 80px;
                content: ' ';
                margin: 9px auto 20px auto;
            }

            .featured-image{
                margin-bottom: 25px !important;
            }

            .entry-content{
                p > a,
                ul > li,
                .lwptoc_item {
                    margin-bottom: 0.7rem;
                }

                @media (max-width: $outer-screen-padding-breakpoint) {
                    ol {
                        margin: 0 0;
                    }
                }
            }
       }
    }
}

/* Add ".." after excerpt */
.entry-summary p:after{
    content: '..';
}

/* 404 Page */
body.error404{
    .entry-title center:after{
        display: block;
        height: 2px;
        background: var(--accent-2);
        width: 80px;
        content: ' ';
        margin: 9px auto 20px auto;
    }

    .entry-content>article>.inside-article{
        padding-left: 0px;
        padding-right: 0px;
    }

    .entry-content>h2{
        text-align: center;
        margin-top: 80px;
    }
}

/* Author Page */
body.author{
    .author_bio_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        padding-bottom: 40px;
        padding-top: 40px;
        border-bottom: 1px solid var(--border);
        border-top: 1px solid var(--border);

        .author-title span{
            font-weight: 400;
        }

        .author-avatar img{
            border-radius: 50%;
        }

        .author-info{
            text-align: center;
            font-size: $author-info-text;
        }
    }
}



// Category list style [categorys]-Shortcode
.category-list{
    text-transform: uppercase;
    font-size: $small-text;
    letter-spacing: 0.82px;
    color: $category-list-text-color; /* $category-name-color*/
    margin-bottom: 15px;
    display: block;
}


// Posts List (.recommeded @ post-single & .featured @ home page)
.posts-list{
    display: flex;
    padding-top: 40px;

    article{

        flex-direction: column;
        padding: 0px;
        gap: 0px !important;
        box-shadow: 0 0 20px rgb(1 0 0 / 10%);
        border-radius: 4px;
        width: 33%;
        flex: 1;
        height: fit-content;

        img.wp-post-image{
            max-height: 150px;
            object-fit: cover;
            width: 100%;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

       .inside-article{
        // padding: 15px 20px 20px 20px;
        padding: padding-xl30-sm24($outer-screen-padding-breakpoint);

            span.category-list{
                font-size: 0.6em;
            }

            a.loop-title{
                font-size: 1em;
                font-weight: 600;
                    color: #000;
                    text-decoration: none;
                
            }

            div.author-info{
                justify-content: start;
            }

            div.author-info{
                margin: 10px 0px;
            }

            div.entry-summary{
                margin-top: 0px;
                margin-bottom: 10px;
                font-size: 0.7em;
            }

            div.read-more a{
                text-transform: uppercase;
                display: block;
                padding-top: 10px;
                border-top: 1px solid var(--border);
                font-size: $small-text;
                font-weight: 700;
                text-decoration: none;
            }
       }
    }
}

// Featured posts on home page
section.featured{

    max-width: 1280px;
    margin: 0 auto;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
    flex-wrap: nowrap;


    @media (max-width: $hide-featured-posts-breakpoint) {
        article:nth-child(2), article:nth-child(3){
            display: none;
        }
        article img.wp-post-image{
            max-height: 350px !important;
        }

        span.loop-title{
            font-size: 1.4em !important;
        }

        div.entry-summary{
            font-size: 1em !important;
        }
    }

    @media (max-width: $outer-screen-padding-breakpoint) {

        padding-left: 24px;
        padding-right: 24px;
    }
        
}

// Recommended posts on post single
h3.recommended-headline{
    margin-bottom: 0px;
    margin-top: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
}
section.recommended{
    gap: 20px;

    @media (max-width: $recommended-posts-section-breakpoint) {
        flex-direction: column;

        article{
            width: 100%;

            img.wp-post-image{
                max-height: 350px !important;
            }
        }
    }
    
}

.shariff_headline {
    text-align:center;
    font-size: 29px;
    margin-bottom: 20px;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: none;
}
